@charset "UTF-8";
/* colors */
:root {
  /* bg colors */
  --header-bg: #FFFFFF;
  --primary-bg: #2F303A;
  --secondary-bg: #E5E5E5;
  --selection-bg: #F5F4FA;
  /* text colors */
  --accent-text: #2196F3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --footer-nav-text: rgba(255, 255, 255, 0.6);
  /* button colors */
  --filter-buttons: #F5F4FA;
  /* icons color */
  --icon-color: #AFB1B8;
  /* anim */
  --anim-speed: 250ms ease;
}

body {
  /* fonts */
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  /* colors */
  color: var(--primary-text);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

.bottom-padding-killer {
  padding-bottom: 0px;
}

.top-padding-killer {
  padding-top: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 448px) {
  .container {
    max-width: 448px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.logo {
  margin-right: 90px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-part {
  color: var(--accent-text);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.conteiner {
  max-width: 480px;
}

.header {
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--secondary-bg);
}

.header__section {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.burger-menu {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-menu .icon-close {
  display: none;
}

.burger-menu .is-open .icon-close {
  display: block;
}

.burger-menu .is-open .icon-menu-burger {
  display: none;
}

.nav__list {
  list-style: none;
  display: flex;
  display: none;
}

.nav__item {
  margin-right: 50px;
  display: none;
}

.logo {
  margin-left: 15px;
  margin-right: 175px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-part {
  color: var(--accent-text);
}

.nav__link {
  display: block;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary-text);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.nav-hover-1::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text);
  display: none;
}

.nav-hover-2::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text);
  display: none;
}

.nav__current {
  color: var(--accent-text);
  display: none;
}

.nav-options:hover,
.nav-options:focus {
  color: var(--accent-text);
  display: none;
}

.header-contack__list {
  margin-left: auto;
  list-style: none;
  display: flex;
  display: none;
}

.header-contact__item {
  margin-right: 50px;
  display: flex;
  align-items: center;
  display: none;
}

.header-contact__item:last-child {
  margin-right: 0;
  display: none;
}

.header-contacts__info {
  display: flex;
  align-items: inline;
  gap: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.contact__icons {
  margin-bottom: -1px;
  fill: var(--secondary-text);
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.header-contacts__info:hover,
.header-contacts__info:focus,
.contact__icons:hover,
.contact__icons:focus {
  color: var(--accent-text);
  fill: var(--accent-text);
  display: none;
}

/* bg */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background: var(--primary-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-size: 480px, 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img@2x.jpg);
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.hero__title {
  margin-right: 65px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-bg);
}

.hero__btn {
  margin-left: 95px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icons-flex {
  margin-left: 15px;
  margin-right: 15px;
}

.icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 360px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--selection-bg);
}

.benefits__list {
  list-style: none;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__title {
  margin-top: 30px;
  margin-left: 110px;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}

.benefits__text {
  margin-top: 10px;
  text-align: start;
  line-height: 1.7;
  /* color */
  color: var(--secondary-text);
}

.services__list {
  margin-top: 0;
  list-style: none;
  display: flex;
  display: none;
}

.services__item {
  margin-right: 30px;
  display: none;
}

.services__item:last-child {
  margin-right: 0;
  display: none;
}

.services-image__first {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  top: 1425px;
  display: none;
}

.services-image__second {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  top: 1425px;
  display: none;
}

.services-image__third {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  top: 1425px;
  display: none;
}

.services__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--header-bg);
  background-color: rgba(47, 48, 58, 0.8);
  display: none;
}

.section-title {
  margin-top: 0px;
  margin-right: 780px;
  padding-top: 60px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__section {
  background-color: var(--selection-bg);
}

.team__list {
  margin-top: 0;
  list-style: none;
}

.team__member {
  margin-right: 10px;
}

.team__member:last-child {
  margin-right: 0;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: none;
  background-color: var(--header-bg);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__names {
  margin-bottom: 10px;
  /* font */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.team__position {
  /* font */
  font-size: 16px;
  line-height: 1.1px;
  /* color */
  color: var(--secondary-text);
}

.social-media-flex {
  padding-top: 28px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  cursor: pointer;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials__link:hover, .team-socials__link:focus {
  fill: var(--header-bg);
  background-color: var(--accent-text);
}

/* regular customers */
.section__customers {
  background-color: var(--header-bg);
}

.customers-flex {
  display: flex;
  gap: 30px;
}

.customers__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__box .company-icons {
  display: block;
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__box:hover .company-icons, .customers__box:focus .company-icons {
  fill: var(--accent-text);
}
.customers__box:hover, .customers__box:focus,
.customers__box .company-icons:hover,
.customers__box .company-icons:focus {
  border-color: var(--accent-text);
  fill: var(--accent-text);
}

/* footer bg */
footer {
  background: var(--primary-bg);
}

.footer {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-address__list {
  list-style: none;
}

.footer-address__item {
  display: inline-block;
  margin-bottom: 10px;
  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  /* color */
  color: #FFFFFF;
}

.footer-address__info {
  display: inline-block;
  margin-bottom: 10px;
  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  /* color */
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__info:hover, .footer-address__info:focus {
  color: var(--accent-text);
}

.footer-address__info:last-child {
  margin-bottom: 0;
}

.footer-socials__list {
  display: block;
  justify-content: center;
}

.footer-socials__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3333333333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-bg);
}

.footer-socials-flex {
  display: flex;
  gap: 10px;
}

.footer-socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--header-bg);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition-property: fill;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-text);
}

.footer__submit {
  margin-top: 0px;
  padding: 0;
}

.footer-submit__text {
  padding-top: -1px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--header-bg);
}

.footer-submit__input {
  width: 100%;
  margin-right: 12px;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--primary-bg);
  color: var(--header-bg);
  width: 358px;
}

.footer-submit__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 200px;
  height: 46px;
  gap: 10px;
  border-radius: 4px;
  background-color: var(--accent-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--header-bg);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* portfolio */
.portfolio {
  padding-top: 94px;
}

.portfolio-btn__list {
  margin-top: 0;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.portfolio-btn__items {
  margin-right: 8px;
}

.portfolio-btn__items:last-child {
  margin-right: 0;
}

.portfolion-btn__selection {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text);
  background: var(--filter-buttons);
  border-radius: 4px;
  border-color: var(--filter-buttons);
  border: none;
  /* cursor */
  cursor: pointer;
  transition-property: color, background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolion-btn__selection:hover, .portfolion-btn__selection:focus {
  color: var(--header-bg);
  background-color: var(--accent-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-button {
  color: var(--header-bg);
  background-color: var(--accent-text);
}

.portfolio-selection__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-selection__box {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-selection__link {
  display: block;
  position: relative;
  transition-property: boxshadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-selection__link:hover .portfolio-hover-text, .portfolio-selection__link:focus .portfolio-hover-text {
  transform: translateY(0);
}
.portfolio-selection__link:hover, .portfolio-selection__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-selection__item {
  margin-right: 30px;
}

.portfolio-selection__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-selection__item + .portfolio-selection__item {
  margin-bottom: 30px;
}

.portfolio-selection__item:nth-child(n+7) {
  margin-bottom: 0;
}

.portfolio-items:hover::before {
  opacity: 1;
}

.portfolio-relative {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--header-bg);
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-selection__title {
  /* font */
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-selection__description {
  /* font */
  font-size: 16px;
  line-height: 30px;
  /* color */
  color: var(--secondary-text);
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--header-bg);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 21px;
  right: 21px;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.top-title {
  margin-top: 12px;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.input__form {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);
  display: inline-block;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input__form:focus,
.input__form:hover {
  border-color: var(--accent-text);
}

.input__form:focus ~ .input-svg,
.input__form:hover ~ .input-svg {
  fill: var(--accent-text);
}

.comment__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.comment__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  outline: none;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment__textarea:focus,
.comment__textarea:hover {
  border-color: var(--accent-text);
}

.form-field__check {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.form-policy__label {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--secondary-text);
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 12px;
}

.the-checkbox {
  position: absolute;
  margin-left: 12px;
}

.form__checkbox:checked + .the-checkbox > .icon-uncheck {
  opacity: 1;
}

.form__checkbox:checked + .the-checkbox > .icon-checked {
  opacity: 0;
}

.checkbox__text {
  margin-left: 25px;
}

.checkbox-policy__link {
  margin-left: 3px;
  text-decoration: underline;
  color: var(--accent-text);
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--header-bg);
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */