.services__list {
    margin-top: 0;
    list-style: none;
    display: flex;
}

.services__item {
    margin-right: 30px;
}

.services__item:last-child {
    margin-right: 0;
}

.services-image__first {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    top: 1425px;
}

.services-image__second {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    top: 1425px;
}

.services-image__third {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    top: 1425px;
}

.services__text {
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: var(--header-bg);
    background-color: rgba(47, 48, 58, 0.8);
}